*{
    box-sizing: border-box;

}



@font-face {
    font-family: rob;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: open;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

.container{
    width: 100%;
    height: 847px;
    background-color:hsla(210, 25%, 16%, 0.05) ;
    
}

.header{
    width:100%;
    height: 847px;
    

}
.nav{
    width: 1320px;
    height: 113px;
    border: 1px solid  red;
    
}
















